<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">
  <targets>
    <target xsi:type="EventLog" name="cosignEventLog" layout="${message}${newline}Call site: ${callsite:className=true:methodName=true}${newline}Logger: ${logger}${newline}Exception: ${exception:format=stacktrace:maxInnerExceptionLevel=3:innerFormat=stacktrace}" log="Application" source="CosignManaged"/>
  </targets>
  <rules>
    <logger name="*" minlevel="Error" writeTo="cosignEventLog" />
  </rules>
</nlog>